
<div class="p-5">
<%= form_for @club do |f| %>
    <div class="mb-3">
     <%= f.label :name, :class => 'form-label ' %>
    <%= f.text_field :name, :class =>"form-control", :required => true %>
    </div>

    <div class="mb-3">
    <%= f.label :location, :class => 'form-label' %>
    <%= f.text_field :location, :class => 'form-control' %>
    </div>
    

    <%= f.label :logo, 'Club Logo', :class => 'form-label'  %>
    <%= f.text_field :logo, :placeholder => 'URL', :class => 'form-control' %>
    
    <div class="mt-5">
    <%= f.label :titles_won, :class => 'form-label' %>
    <%= f.text_field :titles_won, :class => 'form-control-sm me-4' %>

    <%= f.label :stadium_cap, 'Stadium Capacity', :class => 'form-label' %>
    <%= f.text_field :stadium_cap, :class => 'form-control-sm  me-4' %>

    <%= f.label :current_manager, :class => 'form-label' %>
    <%= f.text_field :current_manager, :class => 'form-control-sm me-4' %>

    <%= f.submit :class => 'btn btn-primary ' %>
    </div>

<% end%>

</div>
