
<div class='p-4'>

<div class="d-flex align-items-center mb-3">

<h1><%= @national_team.name %></h1>

   <% if @current_user.present? && @current_user.admin? %>
       <%= link_to "Edit National Team", edit_national_team_path(@national_team.id), :class => 'btn btn-primary ms-4'  %> 
      <% end%>
</div>


<ul class='list-unstyled ms-4'>
    <li> Coach: <%= @national_team.coach %>  </li>
    <li> Fifa Ranking: <%= @national_team.cups_won %> </li>
</ul>

<div  class='d-flex align-items-center mt-5 mb-3'>
<h4 class='ms-4'>Current Squad</h4>
   <% if @current_user.present? && @current_user.admin? %>
    <%= link_to 'Add Player', new_player_path, :class => 'btn btn-primary ms-4' %>
    <% end %>

</div>

    <% if @players.present?  %>
    <ul>

    <% @players.each do |player| %> 
    <li> <%= link_to player.name, player_path(player.id), :class => 'text-decoration-none' %></li>
    <% end %>

    </ul>
    <% end%>

<div class = 'd-flex justify-content-center '>
<%= image_tag @national_team.logo, :class => 'img-fluid mx-auto logo_club_national ' if @national_team.logo.present?  %>
</div>
</div>