
<div class='mt-4 p-5'>
<%= form_for @player do |f| %>

    <div class="mb-3">
     <%= f.label :name, :class => 'form-label' %>
    <%= f.text_field :name, :class =>"form-control mb-5", :required => true %>
    </div>

    <div class="mb-3">
    <%= f.label :position, :class => 'form-label' %>
    <%= f.text_field :position, :class =>"form-control-sm me-5" %>

    
    <%= f.label :career_goals, 'Club goals', :class => 'form-label' %>
    <%= f.text_field :career_goals, :class =>"form-control-sm me-5" %>
    
    
    <%= f.label :appearances, :class => 'form-label' %>
    <%= f.text_field :appearances, :class =>"form-control-sm me-5" %>
        
    <%= f.label :dob, :class => 'form-label' %>
    <%= f.text_field :dob, :placeholder => 'YYYY-MM-DD', :class =>"form-control-sm" %>
    </div>
        
    <div class="mb-3">
    <%= f.label :image, :class => 'form-label' %>
    <%= f.url_field :image, :class =>"form-control mb-5" %>
    </div>

    
    <%= f.label :club_id, :class => 'form-label'%>
    <%= f.select :club_id, Club.order(:name).pluck(:name, :id), { include_blank: true }, { :class => "form-control-sm", :required => true } %>


    <%= f.label :national_team_id, :class => 'form-label ms-4' %>
    <%= f.select :national_team_id, NationalTeam.order(:name).pluck(:name, :id), {:include_blank => true }, { :class =>"form-control-sm"}%>

   
    <%= f.submit :class => 'btn btn-primary ms-4'  %>
    
<% end%>

</div>
  
  