
<nav>
    <%= link_to "Premier League Clubs", clubs_path	 %> |
    <%= link_to "National Teams", national_teams_path %> 
</nav>


<%= image_tag @player.image if @player.image.present? %>
<h1><%= @player.name %></h1>

<ul>
    <li>Position: <%= @player.position %> </li>
    <li>Club Appreaences: <%= @player.appearances %>  </li>
    <li>DOB: <%= @player.dob %>  </li>
    <li>Career goals for : <%= @player.career_goals %>  </li>
    
    <li> Playing for: <%= link_to @player.club.name, club_path(@player.club_id) %> </li>
    <li>Club id: <%= @player.club_id  %> </li>
 

</ul>

<% if @nationalteam.present?  %>
  <%= link_to @nationalteam.name, national_team_path(@nationalteam.id) %>
<% end %>
